{% extends 'ShoefonyCmsBundle::Layout.html.twig' %}

{% block title %}{{ parent() }} | Administration{% endblock %}

{% block contentBody %}

<h2>Bienvenue dans la partie Admin !!!!</h2>

{% endblock %}